.Navigation {
    width: 100vw;
    background: darkgrey;
}

.Navigation .header {
    text-align: center;
    margin-bottom: 1vh;
    padding: 2.5vh;
    font-size: 4vh;
    background: lightgray;
}

.Navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Navigation .buttonOne{
    align-items: flex-end;
    border: solid 4px #f6b93b;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background: darkgrey;
    transition: all .3s ease;
    outline: 0px;
    box-shadow: 2px 3px 2px 2px black;
}

.Navigation .buttonOne:hover{
    background: #f6b93b;
    color: black;
}

.Navigation .buttonOne:active{
    transform: translateY(2px);
    box-shadow:  0px 0px 0px black;
}

.Navigation .buttonTwo{
    align-items: flex-end;
    border: solid 4px #f6b93b;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background: darkgrey;
    transition: all .3s ease;
    outline: 0px;
    box-shadow: 2px 3px 2px 2px black;
    margin-bottom: 1vh;
}

.Navigation .buttonTwo:active{
    transform: translateY(2px);
    box-shadow:  0px 0px 0px black;
}

.Navigation .buttonTwo:hover{
    background: #f6b93b;
    color: black;
}

.marginRight{
    margin-right: 2vw;
}