.PageHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageHome .slider {
  padding: 16px;
  margin-top: 2vh;
  margin-bottom: 32px;
  border: solid 2px black;
  border-radius: 20px;
}